[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "zoon"]
	path = zoon
	url = https://github.com/zoonproject/zoon
	shallow = true
	registered = true
